.card-product-img{
    width: 370px;
}

.card-products-container{
    width: 350px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-cardContent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 15px;
}

.card-content-container{
    text-decoration: none;
    color: #212529;
}

.categories-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.mockFilter{
    padding-top: 80px;
}
.categoriaProductos{
    padding-top: 15px;
    padding-bottom: 15px;
    color :#8F8C8C
}
.ItemDetailContainer{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProductDetail-Agregar-Modal{
    display: flex;
    justify-content: center;
    align-items: center;
}