@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,500&family=Poppins:wght@600&display=swap');

.agregarDisminuir{
    font-family:'Poppins';
    display: flex;
    justify-content: center;
    align-items:center ;
}
.card-product-img{
    width: 370px;
}

.card-products-container{
    width: 350px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-cardContent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 15px;
}

.card-content-container{
    text-decoration: none;
    color: #212529;
}

.categories-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.mockFilter{
    padding-top: 80px;
}
.categoriaProductos{
    padding-top: 15px;
    padding-bottom: 15px;
    color :#8F8C8C
}
.ItemDetailContainer{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProductDetail-Agregar-Modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Modal-Content{
    width: fit-content;
    padding: 13px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal-Info{
    padding: 11px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Modal-Img{
    margin: 5px;
}

.Modal-Img{
    width: 250px;
    border-radius: 10px;

}
.Modal-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Cart-content{
    padding-top: 70px;
}

.CartImg{
    width: 70px;
    border-radius: 5px;
}

.Page-Content{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}
.Page-container{
    width: 500px;
}
.Page-container-detail{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.CO-container{
    padding-top: 70px;
}